.profile{
    font-family: Arial, Helvetica, sans-serif;
    width:200px;
    box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.3);
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
}
.profile-picture{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.name{
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.mutual-friend-picture{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.mutual-friend{
    margin-top: 8px;
    display: inline-block;
    vertical-align: middle;
    color: gray;
    font-size: 15px;
}
.add-button{
    border: none;
    background-color: rgb(24, 119, 242);
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 2px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.add-button:active{
    opacity: 0.8;
}