.google-logo{
    width: 200px;
    margin-left: 150px;
    margin-bottom: 10px;
}
 .search-box {
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 30px;
    width: 500px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    box-shadow:0 1px 5px rgba(0, 0, 0, 0.25);
}