
.first-name , .last-name{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 12px;
    width: 148px;
}
.email{
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    width: 335px;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 12px;
}
.signup-button{
    width: 370px;
    border-style: solid;
    color: white;
    background-color: rgb(10, 102, 194);
    border: none;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.15s;
}
.signup-button:active{
    opacity: 0.9;
}