.nested-flex{
    display: flex;
    flex-direction: row;
    height: 50px;
}
.null-flex{
    background-color: lightpink;
    width: 100px;
}
.row-two-flex{
    display: flex;
    justify-content: space-between;
    width: 200px;
    
}
.row-one-flex{
    background-color: lightblue;
    
}
.row-two{
    color: white;
    background-color: black;
}